.questions-container {
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: transparent;

  .questions-title {
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    width: 100%;
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 1rem;

    width: 100%;

    .btn-option {
      width: 100%;
      padding: 1rem 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid var(--primary-color);
      cursor: pointer;
      --primary-color: black;
      color: var(--primary-color);
      background-color: #d7e0fa;
      display: block;
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      font-weight: 600;
      animation: fade 0.5s var(--cubic) both;
      animation-delay: calc(var(--i) / 10);
      font-size: normal;

      &:hover,
      &:focus,
      &:active {
        background-color: var(--primary-color);
        color: var(--text-color);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

@media (min-width: 768px) {
  .questions-container {
    width: 768px;
    .questions-title {
      font-size: 1.5rem;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
