.logo-title-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }
  .title {
    margin: 1rem auto;
  }
  p{
    max-width: 768px;
    width: 100%;
    padding: 0rem 1rem;
  }
}
